apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      component: server #podriamos poner cualquier combinacion de label y nombre
  template:
    metadata:
      labels:
        component: server
    spec:
      containers:
        - name: server
          image: eggop1992/multi-server
          ports:
            - containerPort: 5000
